node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
mobilpay-c1872-firebase-adminsdk-fbsvc-94cc9e0468.json
config/oauth2-tokens.json
config/oauth2-credentials.json
.env.dev
.env.prod